/**
 * @Author: weipc 755197142@qq.com
 * @Date: 2025-02-17 21:23:21
 * @LastEditors: weipc 755197142@qq.com
 * @LastEditTime: 2025-03-04 16:49:36
 * @FilePath: src/assets/styles/common.scss
 * @Description: 自定义公共样式
 */

.xlt-container {
    --xlt-search-box-bg: theme('colors.bg.darkLayout');
    @apply bg-white dark:bg-[var(--xlt-search-box-bg)] pl-2 pr-2 rounded-lg;
}

.xlt-base-container {
    @apply flex flex-col gap-3;
}

.xlt-pagination {
    @apply flex justify-end mt-3;
}


.xlt-table {
    --xlt-table-bg: theme('colors.bg.darkLayout');

    .ant-table {
        @apply dark:bg-[var(--xlt-table-bg)];
    }
}


::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

::view-transition-image-pair(root) {
    isolation: auto;
}
